.contactus{
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    
}

.contactus-content{
    width: 60%;
    height:100%;
    padding: 100px 20px;
}


.contactus form{
    width: 100%;
    margin-top: 60px;
}

.contactus form button{
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: #272727;
    cursor: pointer;

}

form div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contactus-content input{
    border: 1px rgb(205, 205, 205) solid;
    border-radius: 10px;
    outline: none;
    height: 50px;
    width: 48%;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 14px;
    transition: .2s;
}

.contactus input:focus{
    border: 1px solid #1b1b1b;
    box-shadow: 0 0 10px 0px rgb(27, 27, 27, 0.3) ;
    outline: none;
}

.contactus-content .email,textarea{
    width: 100%;
    border-radius: 10px;
    border: 1px rgb(205, 205, 205) solid;
    padding: 0 20px;
}

.contactus-content textarea{
    padding-top: 20px;
    outline: none;
    font-size: 14px;
    transition: .2s;
}
.contactus-content textarea:focus{
    border: 1px solid #1b1b1b;
    box-shadow: 0 0 10px 0px rgb(27, 27, 27, 0.3) ;
    outline: none;
}


.contactus-content i{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #374e46;
    border-radius: 10px;
}

.contactus-content  .col{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}
.contactus-content  .col i{
    margin-right: 20px;
}

.contactus-content  .col p{
    width: 130px;
    margin: 0;
    padding: 0;
}
